body {
    margin: 0;
    font-family: Helvetica, sans-serif, sans-serif;
    background: #f9f9f9;
}

header, footer {
    background: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background: #4A6572;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

aside a, nav a:hover{
    color: #007BFF;
}

main {
    margin: 20px;
}

.banner {
    margin: 0; 
}

.banner img {
    width: 100%;
    height: 400px;
    display: block; 
}

.contenido {
    font-size: 0;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    background: #EAEAEA;
    padding: 15px;
    border: 1px solid #CCCCCC;
    font-size: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    height: fit-content;  
}

.articulos {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

article {
    background: white;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 15px;
}

.social i { color: #666; transition: color .2s; }
.social.instagram i:hover { color: #E1306C; }
.social.youtube i:hover   { color: #FF0000; }
.social.facebook i:hover  { color: #1877F2; }